.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.text-white {
  color: white;
}

.is-block {
  display: block;
}

.is-flex {
  display: flex;
}

.is-center {
  text-align: center;
}

.button {
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: .3rem;
  background-color: gold;
  text-decoration: none;
  padding: 0 .5rem;
}

.button--gold {
  background-color: gold;
  color: #555;
}

.button--gold:focus {
  outline: none;
  box-shadow: 0 0 0 .3rem #ffbf0070;
}
